@namespace SGE.UI.Components
@rendermode InteractiveServer
@using SGE.Aplicacion.Enumerativos
@inject NavigationManager Navigation
@inject CasoDeUsoExpedienteAlta expAlta
@inject CasoDeUsoTramiteAlta tramAlta
@inject EstadoDeUsuario User

@if (visible)
{
    if(AltaExpediente ==true ){
        exp = (Expediente)Crear;
        <div class="dialogo-contenedor">
            <div class="dialogo-contenido">
                <button class="btn-cerrar" @onclick="Cerrar">X</button>
                <h4>@Mensaje : Ingrese la caratula del nuevo expediente</h4>
                <label for="Caratula">Cartula:</label>
                <input @bind=@exp.Caratula placeholder="Caratula"/>
                <p>Confirmar creacion </p>            
                <button class="btn btn-aceptar" @onclick="CrearExpediente">Aceptar</button>
            </div>
        </div>
    }
    else
    {
       tram = (Tramite)Crear;
        <div class="dialogo-contenedor">
            <div class="dialogo-contenido">
                <button class="btn-cerrar" @onclick="Cerrar">X</button>
                <h4>@Mensaje : Ingrese el contenido del nuevo tramite</h4>
                <label for="Contenido">Contenido:</label>
                <input @bind=@tram.Contenido placeholder="Contenido"/>
                <p>Confirmar creacion </p>            
                <button class="btn btn-aceptar" @onclick="CrearTramite">Aceptar</button>
            </div>
        </div>
        
    }
}
@code {
    private bool visible = false;
    [Parameter]
    public string Mensaje { get; set; } = "";
    [Parameter]
    public object? Crear { get; set; }    
    [Parameter]
    public bool AltaExpediente { get; set; }
    private Expediente exp;
    private Tramite tram;


    public void Mostrar() 
    {
        visible = true;
        StateHasChanged();
    }
    void Cerrar()
    {
        visible = false;
    }
    void CrearExpediente()
    {
        expAlta.Ejecutar(exp, User.usuario.Id, "EXPEDIENTE_ALTA");
        visible = false;
    }
    void CrearTramite()
    {
        tramAlta.Ejecutar(tram, User.usuario.Id, "TRAMITE_ALTA");
        visible = false;
    }
}