@namespace SGE.UI.Components
@rendermode InteractiveServer
@using SGE.Aplicacion.Enumerativos
@using SGE.Aplicacion.CasosDeUso.Expediente
@using SGE.Aplicacion.CasosDeUso.Tramite
@using SGE.Aplicacion.Entidades
@using SGE.UI.Entidades
@inject NavigationManager Navigation
@inject CasoDeUsoExpedienteModificacion expModificacion
@inject EstadoDeUsuario EstadoDeUsuario
@inject CasoDeUsoTramiteModificacion tramModificacion

@if (visible)
{
    if(EditExpediente ==true ){
        Expediente Exp = (Expediente)Edit;
        <div class="dialogo-contenedor">
            <div class="dialogo-contenido">
                <button class="btn-cerrar" @onclick="Cerrar">X</button>
                <h4>@Mensaje : @Exp.Id</h4>
                <input @bind=@Exp.Caratula placeholder="Cartula"/>
                <p>desea modificar </p>
                <button class="btn btn-primary" @onclick="EditarExpediente">Editar</button>
            </div>
        </div>
    }
    else
    {
        Tramite? Tram = (Tramite?)Edit;
        <div class="dialogo-contenedor">
            <div class="dialogo-contenido">
                <button class="btn-cerrar" @onclick="Cerrar">X</button>
                <h4>@Mensaje : @Tram.Id</h4>
                <input @bind=@Tram.Contenido placeholder="Contenido" />
                <select @bind=@Tram.Etiqueta placeholder="Etiqueta">
                    <option value="EtiquetaTramite.EscritoPresentado">Escrito Presentado </option>
                    <option value="EtiquetaTramite.PaseAEstudio">Pase A Estudio</option>
                    <option value="EtiquetaTramite.Despacho">Despacho</option>
                    <option value="EtiquetaTramite.Resolucion">Resolucion</option>
                    <option value="EtiquetaTramite.Notificacion">Notificacion</option>
                    <option value="EtiquetaTramite.PaseAlArchivo"></option>
                </select>
                <p>desea modificar </p>
                <button class="btn btn-primary" @onclick="EditarTramite">Editar</button>
            </div>
        </div>
        
    }
}
@code {
    private bool visible = false;
    [Parameter]
    public string Mensaje { get; set; } = "";
    [Parameter]
    public object? Edit { get; set; }
    [Parameter]
    public bool EditExpediente{ get; set; }


    public void Mostrar() 
    {
        visible = true;
        StateHasChanged();
    }
    void Cerrar()
    {
        visible = false;
    }
    void EditarExpediente()
    {
        expModificacion.Ejecutar((Expediente)Edit,EstadoDeUsuario.usuario.Id,"EXPEDIENTE_MODIFICACION");
        //popUpConfirmar
        visible = false;
    }
    void EditarTramite()
    {
        tramModificacion.Ejecutar((Tramite)Edit, EstadoDeUsuario.usuario.Id, "TRAMITE_MODIFICACION");
        //popUpConfirmar
        visible = false;
    }
}