
*.cache
*.json
*.editorconfig
*.props
/SGE/SGE.Aplicacion/obj/Debug/net8.0
/SGE/SGE.Aplicacion/obj/Debug/net8.0
/SGE/SGE.Aplicacion/obj/Debug
/SGE/SGE.Aplicacion/obj
/SGE/SGE.Repositorios/obj
/SGE/SGE.Repositorios/obj
/SGE/SGE.Repositorios/obj/Debug
/SGE/SGE.Repositorios/obj/Debug/net8.0
/SGE/SGE.UI/obj
/SGE/SGE.UI/bin/Debug
/SGE/SGE.Repositorios/obj
