@namespace SGE.UI.Components
@page "/adminpanel"

<p>aca seria sonde el admin otorga permisos a los usuarios</p>

<p>tabla con lista de usuarios con botones al lado de cada uno dependiendo de que permisos pidio</p>
