@namespace SGE.UI.Components
@inject NavigationManager Navigate
@rendermode InteractiveServer
@page "/"




<PageTitle>gestion de Expedientes</PageTitle>
<h1>bienvenidos a la gestion de expedientes</h1>
<h4>inicie sesion para poder utilizar la pagina</h4>
<button @onclick="Prueba">Iniciar Sesion</button>
<button @onclick="Register">Registrarse</button>
<PopConfirmacion @ref=pop Mensaje="¿Está seguro que irse a la concha de su madre?" OnConfirmado="CasoDeUso" />

@code{
	private void Login()
	{
		Navigate.NavigateTo("/login");
	}
	private void Register()
	{
		Navigate.NavigateTo("/register");
	}

	PopConfirmacion pop = null! ;

	private void Prueba()
	{
		pop.Mostrar();
	}

	private void CasoDeUso ()
	{

	}

}

