@namespace SGE.UI.Components
@page "/adminpanel/{usuario}"
@rendermode InteractiveServer

<p>aca seria sonde el admin otorga permisos a los usuarios</p>
<button @onclick="ToggleUsuario">ver usuarios</button>
<p>tabla con lista de usuarios con botones al lado de cada uno dependiendo de que permisos pidio</p>
@if (verUsuarios)
{
  <PagUsuarios usuario=@usuario/>
}
<button @onclick="ToggleExpediente">ver expedientes</button>
@if (verExpedientes)
{
  <PagExpedientes usuario=@usuario/>
}

@code {
  [Parameter]
  public Usuario? usuario { get; set; }
  private bool verUsuarios = false;
  private bool verExpedientes = false;
  void ToggleExpediente()
  {
    verExpedientes = !verExpedientes;
  }
  void ToggleUsuario()
  {
    verUsuarios = !verUsuarios;
  }
}