@namespace SGE.UI.Components
@page "/login"
@using System.ComponentModel.DataAnnotations
@using SGE.UI.Entidades
@using SGE.Aplicacion.Entidades
@using SGE.Aplicacion.CasosDeUso.Usuario
@inject NavigationManager Navigation
@inject EstadoDeUsuario EstadoDeUsuario
@inject CasoDeUsoLogin Login
@rendermode InteractiveServer


<div>
    <h3>Login</h3>

    <div>
        <input @bind="@usuario.Email" placeholder="Email" /><br>
    </div>
    <div>
        <input @bind="@usuario.Contrasenia" type="password" placeholder="Password" /><br>
    </div>
    <button @onclick="IniciarSesion">iniciar Sesion</button>
    <button @onclick="NoContrase単a">perdi la contrase単a</button>
    <button @onclick="Registro">registrarse</button>
</div>


<PopUpErrorLogin @ref=dialogoErrorLogin Mensaje="Usuario o contrase単a no son validas" />
<PopUpErrorMensaje @ref=dialogoError Mensaje="contacta con un admin"/>

@code {

    private Usuario usuario = new Usuario();
    PopUpErrorLogin dialogoErrorLogin = null!;
    PopUpErrorMensaje dialogoError = null!;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

    }
    void IniciarSesion()
    {
        if (!string.IsNullOrWhiteSpace(usuario.Contrasenia) && !string.IsNullOrWhiteSpace(usuario.Email))
        {
            var usuarioLogueado = Login.Ejecutar(usuario);
            if (usuarioLogueado != null)
            {
                EstadoDeUsuario.usuario = usuarioLogueado;
                EstadoDeUsuario.SetLoggedIn(true);

                if (usuarioLogueado.Permisos.Any(p => p.Nombre.Equals("OBTENER_LISTA_USUARIOS")))
                {
                    EstadoDeUsuario.SetAdmin(true);
                    Navigation.NavigateTo("/adminpanel");
                }
                else
                {
                    Navigation.NavigateTo("/expedientes");
                }
            }
            else
            {
                dialogoErrorLogin.Mostrar();
            }
        }
        else
        {
            dialogoErrorLogin.Mostrar();
        }
    }
    void NoContrase単a()
    {
        dialogoError.Mostrar();
    }
    void Registro()
    {
        Navigation.NavigateTo("/register");
    }
}
