@namespace SGE.UI.Components
@page "/login"
@using System.ComponentModel.DataAnnotations
@using SGE.UI
@using SGE.Aplicacion.Entidades
@inject NavigationManager Navigation
@inject EstadoDeUsuario EstadoDeUsuario
@inject CasoDeUsoLogin Login
@rendermode InteractiveServer


<div>
    <h3>Login</h3>

    <div>
        <input @bind="@usuario.Email" placeholder="Email" /><br>
    </div>
    <div>
        <input @bind="@usuario.Contrasenia" type="password" placeholder="Password" /><br>
    </div>
    <button @onclick="IniciarSesion">iniciar Sesion</button>
    <button @onclick="NoContrase単a">perdi la contrase単a</button>
    <button @onclick="Registro">registrarse</button>
</div>


<PopUpErrorLogin @ref=dialogo Mensaje="Usuario o contrase単a no son validas" />
<PopUpErrorMensaje @ref=dialogo2 Mensaje="contacta con un admin"/>

@code {

    private Usuario usuario = new Usuario();
    PopUpErrorLogin dialogo = null!;
    PopUpErrorMensaje dialogo2 = null!;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

    }
    void IniciarSesion()
    {
        if (!string.IsNullOrWhiteSpace(usuario.Contrasenia) && !string.IsNullOrWhiteSpace(usuario.Email))
        {

            //logica de autorizacion de usuario
            // caso de uso login usuario
            usuario=Login.Ejecutar(usuario);
            if (usuario.Permisos.Any(p=>p.Nombre.Equals("OBTENER_LISTA_USUARIOS")))
            {
                EstadoDeUsuario.SetAdmin(true);
            }
            EstadoDeUsuario.SetLoggedIn(true);
        }
        else
        {
            //si no exite el usuario
            //implementar un pop up de error con la opcion de querer registrarse
            dialogo.Mostrar();
            //si se quiere registrar
            //popUp con el texto de error
            //Navigation.NavigateTo("/register");
        }
        if (EstadoDeUsuario.IsLoggedIn)
        {
            if (EstadoDeUsuario.EsAdmin)
            {
                Navigation.NavigateTo($"/adminpanel/{usuario}");
            }
            else
            {
                Navigation.NavigateTo($"/expedientes/{usuario}");
            }

        }
    }
    void NoContrase単a()
    {
        dialogo2.Mostrar();
    }
    void Registro()
    {
        Navigation.NavigateTo("/register");
    }
}
