@namespace SGE.UI.Components
@page "/register"
@inject NavigationManager Navigation
@inject CasoDeUsoUsuarioAlta UsuarioAlta
@rendermode InteractiveServer

<h3>Register</h3>

<div>

    <input @bind="usuario.Nombre" placeholder="First Name" /><br>
</div>

<div>
    <input @bind="usuario.Apellido" placeholder="Last Name" /><br>
</div>

<div>
    <input @bind="usuario.Email" placeholder="Email" /><br>
</div>

<div>
    <input @bind="usuario.Contrasenia" type="password" placeholder="Password" /><br>
</div>

<div>
    <input @bind="confirmContrasenia" type="password" placeholder="Confirm Password" /><br>
</div>

<button @onclick="Agregar">Register</button>

@if (contraseniaDesigual)
{
	<PopUpErrorMensaje Mensaje="las contraseñas no son iguales" />
}


@code {
    private Usuario usuario = new Usuario();
    private string? confirmContrasenia;
    private bool contraseniaDesigual = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

    }

    void Agregar()
    {
        if (usuario.Contrasenia != confirmContrasenia)
        {
            contraseniaDesigual = true;
        }
        else
        {
            //verificar si los campos son validos
            UsuarioAlta.Ejecutar(usuario);
            Navigation.NavigateTo("/login");
        }
    }
}