@namespace SGE.UI.Components
@using SGE.UI.Components
@using SGE.Aplicacion.CasosDeUso
@using SGE.Aplicacion.Entidades
@page "/register"
@inject NavigationManager Navigation
@inject CasoDeUsoUsuarioAlta UsuarioAlta
@rendermode InteractiveServer

<h3>Register</h3>

<div>

    <input @bind="usuario.Nombre" placeholder="First Name" /><br>
</div>

<div>
    <input @bind="usuario.Apellido" placeholder="Last Name" /><br>
</div>

<div>
    <input @bind="usuario.Email" placeholder="Email" /><br>
</div>

<div>
    <input @bind="usuario.Contrasenia" type="password" placeholder="Password" /><br>
</div>

<div>
    <input @bind="confirmContrasenia" type="password" placeholder="Confirm Password" /><br>
</div>

<button @onclick="Agregar">Register</button>

<PopUpErrorMensaje @ref="errorMensaje" Mensaje="las contraseñas no son iguales" />


@code {
    private Usuario usuario = new Usuario();
    private string? confirmContrasenia;
    private bool contraseniaDesigual = false;
    PopUpErrorMensaje errorMensaje = null!;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

    }

    void Agregar()
    {
        if (usuario.Contrasenia != confirmContrasenia)
        {
            errorMensaje.Mostrar();
        }
        else
        {
            try{
                UsuarioAlta.Ejecutar(usuario);
                Navigation.NavigateTo("/login");
            }catch(Exception e) {
                errorMensaje.Mensaje = e.Message;
                errorMensaje.Mostrar();
            }
            
        }
    }
}