@namespace SGE.UI.Components
@using SGE.UI.Entidades
@using SGE.Aplicacion.Entidades
@using SGE.Aplicacion.CasosDeUso.Tramite
@inject NavigationManager Navigation
@inject EstadoDeUsuario EstadoDeUsuario
@inject CasoDeUsoListarTramites listarTramites
@rendermode InteractiveServer
@page "/tramite/{id:int}"

@if (!EstadoDeUsuario.IsLoggedIn)
{
    Navigation.NavigateTo("/login");
}
<<<<<<< Updated upstream
else if (tramites == null||tramites.Count() == 0)
=======
else if (tramites==null)
>>>>>>> Stashed changes
{
	<p>no hay tramites cargados</p>
	<button @onclick="Crear">crear tramite</button>
}
else
{
	if (puedeVer)
	{
		<input @bind="@idTramite" placeholder="buscar por id" />
		<button @onclick="()=>BuscarPorId(idTramite)">Buscar</button>
		<button @onclick="Crear">crear tramite</button>
		<PagListaTramites tramites="@tramites" />
	}
}

@code {
	[Parameter]
	public int id { get; set; }
	private bool puedeVer = false;
	private List<Tramite>? tramites;
	private int idTramite;
	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		puedeVer = EstadoDeUsuario.usuario!.Permisos.Any(p => p.Nombre!.Equals("TRAMITE_LECTURA"));
		if (id == -1)
		{
			tramites = listarTramites.Ejecutar();
		}
		else
		{
			tramites = listarTramites.Ejecutar().Where(t => t.ExpedienteId==id).ToList();
		}
	}
	private void BuscarPorId(int id)
	{
		tramites = tramites.Where(e => e.Id == id).ToList();
		StateHasChanged();
	}
	private void Crear()
	{
		Navigation.NavigateTo("/tramite/crear");
	}
}