@namespace SGE.UI.Components
@inject CasoDeUsoObtenerTodosLosUsuarios usuarioTodos
@inject EstadoDeUsuario EstadoDeUsuario
@page "/usuarios"

@if (EstadoDeUsuario.EsAdmin)
{
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Permisos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        @foreach (Usuario usuario in usuarios)
        {
          if (usuario != null)
          {
            <td>@usuario.Id</td>
            <td>@usuario.Nombre</td>
            <td>@usuario.Apellido</td>
            <td>@usuario.Email</td>
            <td><button>Otorgar Permisos</button></td>
          }
        }
      </tr>
    </tbody>
    </table>
}
else
{
    //mensaje de error no tiene permisos suficientes
}
@code {
    private List<Usuario>? usuarios;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        usuarios = usuarioTodos.Ejecutar(EstadoDeUsuario.usuario.Id);
  }
}