@page "/registro"
@rendermode InteractiveServer

<h1>inicie sesion</h1>
<input placeholder="su email" @bind="email"/><br>
<input type="password" placeholder="su contraseña" @bind="contraseña" /><br>
<button @onclick="VerificarUsuario"> iniciar sesion </button>
<button @onclick="OlvideContraseña">olvide mi contraseña </button>

@if (olvideContraseña){
  <p>si olvidaste tu contraseña recurre a un administrador para mas ayuda</p>
}
@if (!usuario){
  <p>email o contraseña invalidos</p>
}

@code
{
  bool olvideContraseña=false;
  bool usuario=true;
  string? email;
  string? contraseña;
  void OlvideContraseña(){
    olvideContraseña=true;
  }
  void VerificarUsuario(){
    if((email==null)&&(contraseña==null)){
      usuario=false;
    }else if((email.Equals("juan@gmail.com"))&&(contraseña.Equals("Jack"))){
      <p>inicio de sesion correcto</p>
    }
  }
}