@page "/register"
@inject AuthService AuthService
@inject NavigationManager Navigation

<h3>Register</h3>

<EditForm Model="registerModel" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="registerModel.FirstName" placeholder="First Name" />
    <InputText @bind-Value="registerModel.LastName" placeholder="Last Name" />
    <InputText @bind-Value="registerModel.Email" placeholder="Email" />
    <InputText @bind-Value="registerModel.Password" type="password" placeholder="Password" />
    <InputText @bind-Value="registerModel.ConfirmPassword" type="password" placeholder="Confirm Password" />

    <button type="submit">Register</button>
</EditForm>

@code {
    private RegisterModel registerModel = new RegisterModel();

    private async Task HandleRegister()
    {
        if (registerModel.Password != registerModel.ConfirmPassword)
        {
            // Handle password mismatch
            return;
        }

        var result = await AuthService.Register(registerModel);
        if (result)
        {
            Navigation.NavigateTo("/login");
        }
        else
        {
            // Handle registration failure
        }
    }
}

