@page "/useroptions"
@inject AuthService AuthService

<h3>User Options</h3>

<EditForm Model="userModel" OnValidSubmit="HandleUpdate">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="userModel.Email" placeholder="Email" />
    <InputText @bind-Value="userModel.FirstName" placeholder="First Name" />
    <InputText @bind-Value="userModel.LastName" placeholder="Last Name" />
    <InputText @bind-Value="userModel.Password" type="password" placeholder="Password" />

    <button type="submit">Update</button>
</EditForm>

@code {
    private UserModel userModel = new UserModel();

    private async Task HandleUpdate()
    {
        var result = await AuthService.UpdateUser(userModel);
        if (result)
        {
            // Handle successful update
        }
        else
        {
            // Handle update failure
        }
    }
}
