@namespace SGE.UI.Components
@inject EstadoDeUsuario EstadoDeUsuario
@inject NavigationManager Navigate
@inherits LayoutComponentBase

<div class="page">
    @if (EstadoDeUsuario.IsLoggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        @if(EstadoDeUsuario.IsLoggedIn){
            <div class="top-row px-4">
                <button @onclick="CerrarSesion">
                    Cerrar Sesion
                </button>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code{
    private void CerrarSesion()
    {
        EstadoDeUsuario.CerrarSesion();
        Navigate.NavigateTo("/");
    }
}
